@use 'components/button';
@use 'components/checkbox';
@use 'components/dropdown';
@use 'components/input';
@use 'components/modal';
@use 'components/scrollbar';
@use 'components/window';

body {
    --font-default: 'Lucida Grande', system-ui;
}

.theme-light, .theme-dark {
    --background-modifier-cover: transparent;
}

.theme-light {
    --text-accent: #0068da;
    --text-on-accent: black;
}

.theme-dark {
    --text-accent: #419cff;
}