@use 'components/button';
@use 'components/input';
@use 'components/modal';
@use 'components/window';

body {
    --font-default: 'Lucida Grande', system-ui;
}

.theme-light, .theme-dark {
    --background-modifier-cover: transparent;
    --interactive-accent: #86b9dd;
    --text-accent: #004cff;
    --text-on-accent: black;
}

.cm-s-obsidian span.cm-url {
    color: var(--text-accent);
}