@use 'common';

$bg: linear-gradient(to bottom, #f9f9f9, #eceded 8px, #dadada 8px, #ffffff);
$bg-primary: linear-gradient(to bottom, #c5d3ec, #93bfec 8px, #68a9ec 8px, #aaf5ff);
$border: 1px solid #5d5d5d;
$color: black;
$font-size: 13px;
$height: 20px;
$padding: 0 15px;
$shadow: 0 1px 2px #5d5d5d;

button {
    /* TODO active state */
    padding: $padding;
    height: $height;
    border: $border;
    border-radius: $height / 2;
    background-image: $bg;
    box-shadow: $shadow;
    color: $color;
    font-size: $font-size;
    cursor: default;

    &:focus {
        box-shadow: $shadow, common.$focus-shadow;
    }

    &.mod-cta {
        /* TODO animation */
        border-top-color: #272998;
        background-image: $bg-primary;
        color: $color;
    }

    .setting-item-control & {
        padding: $padding;
        color: $color;
        font-size: $font-size;
    }
}