@use 'sass:math';
@use 'widget';

$font-size: 13px;
$padding: 3px 15px;

@mixin button {
    /* TODO active state */
    padding: $padding;
    border-radius: 10px;
    background-image: widget.$bg;
    box-shadow: widget.$inset-shadow, widget.$shadow;
    color: widget.$color;
    font-size: $font-size;
    cursor: default;
}

button {
    @include button;

    &:focus {
        box-shadow: widget.$inset-shadow, widget.$shadow, widget.$focus-shadow;
    }

    &.mod-cta {
        /* TODO animation */
        @include button;
        background-image: widget.$bg-primary;
    }

    .setting-item-control & {
        @include button;
    }

    .community-theme &.mod-cta {
        /* button styles must be isolated to correctly override this */
        @include button;
    }

    .community-theme.is-selected & {
        @include button;
        opacity: 50%;
    }
}