@use 'sass:math';
@use 'widget';

$font-size: 13px;
$padding: 3px 15px;

button {
    /* TODO active state */
    padding: $padding;
    border-radius: 10px;
    background-image: widget.$bg;
    box-shadow: widget.$inset-shadow, widget.$shadow;
    color: widget.$color;
    font-size: $font-size;
    cursor: default;

    &:focus {
        box-shadow: widget.$inset-shadow, widget.$shadow, widget.$focus-shadow;
    }

    &.mod-cta {
        /* TODO animation */
        background-image: widget.$bg-primary;
    }

    .setting-item-control & {
        @extend button;
    }
}