@use 'widget';

$size: 14px;

.checkbox-container {
    width: $size;
    height: $size;
    border-radius: 2px;
    background-image: widget.$bg;
    box-shadow: widget.$inset-shadow, widget.$shadow;
    cursor: default;

    &:focus {
        box-shadow: widget.$inset-shadow, widget.$shadow, widget.$focus-shadow;
    }
    
    /* TODO checkmark */
    &.is-enabled {
        background-image: widget.$bg-primary;
    }

    &::before, &::after {
        content: none;
    }
}

.task-list-item-checkbox {
    @extend .checkbox-container;
    filter: none;
    appearance: none;

    &:checked {
        @extend .is-enabled;
    }
}