@use 'sass:list';
@use 'button';
@use 'widget';

$cap-width: 20px;

.dropdown {
    /* TODO arrows */
    $black: linear-gradient(black, black);
    padding: button.$padding;
    padding-right: nth(button.$padding, 2) + $cap-width;
    border: none;
    border-radius: 5px;
    background:
    $black top right list.slash($cap-width - 1, 1px) no-repeat,
    widget.$bg-primary right/$cap-width no-repeat,
    widget.$bg;
    box-shadow: widget.$inset-shadow, widget.$shadow;
    font-size: button.$font-size;
    background-blend-mode: overlay, normal, normal;

    &:focus {
        box-shadow: widget.$inset-shadow, widget.$shadow, widget.$focus-shadow;
    }
}