@use 'sass:math';
@use 'widget';

$height: 24px;
$inset-shadow: inset 0 1px 2px #777777;

input[type='text'] {
    padding: 0 5px;
    height: $height;
    border-radius: 0;
    box-shadow: $inset-shadow;

    &:focus {
        box-shadow: $inset-shadow, widget.$focus-shadow;
    }
}

.search-input-container input, .hotkey-search-container input {
    padding: 0 math.div($height, 2);
    border-radius: math.div($height, 2);
}

.hotkey-search-container {
    /* matches Mac behavior and works around overflow clipping on focus ring */
    justify-content: flex-end;
}