@use 'sass:color';
@use 'sass:math';
@use 'widget';

$border-color: #d8d8d8;
$height: 24px;
$inset-shadow: inset 0 1px 2px #777777;
$inset-shadow-dark: inset 0 -1px 2px #777777;

input[type='text'],
input[type='search'],
input[type='email'],
input[type='password'],
input[type='number'] {
    padding: 0 5px;
    height: $height;
    border: 1px solid $border-color;
    border-radius: 0;
    box-shadow: $inset-shadow;

    &:focus {
        border-color: widget.$focus-shadow-color;
        box-shadow: $inset-shadow, widget.$focus-shadow;
    }

    &:active {
        border-color: widget.$focus-shadow-color;
    }

    .theme-dark & {
        border: 1px solid color.invert($border-color);
        box-shadow: $inset-shadow-dark;

        &:focus {
            border-color: widget.$focus-shadow-color;
            box-shadow: $inset-shadow-dark, widget.$focus-shadow;
        }

        &:active {
            border-color: widget.$focus-shadow-color;
        }
    }
}

.search-input-container input, .hotkey-search-container input {
    padding: 0 math.div($height, 2);
    border-radius: math.div($height, 2);
}

.hotkey-search-container {
    /* matches Mac behavior and works around overflow clipping on focus ring */
    justify-content: flex-end;
}