@use 'sass:color';
@use 'sass:math';
@use 'widget';
@use 'window';

/* #region Exports */
$border-color: #c0c0c0;
$close-button-size: 14px;
$pinstripes: repeating-linear-gradient(to bottom,
    #ebecec,
    #ebecec 2px,
    #eff0f0 2px,
    #eff0f0 4px);
$pinstripes-alt: repeating-linear-gradient(to bottom,
    color.adjust(#ebecec, $lightness: 5%),
    color.adjust(#ebecec, $lightness: 5%) 2px,
    color.adjust(#eff0f0, $lightness: 5%) 2px,
    color.adjust(#eff0f0, $lightness: 5%) 4px);
$pinstripes-dark: repeating-linear-gradient(to bottom,
    color.invert(#ebecec),
    color.invert(#ebecec) 2px,
    color.invert(#eff0f0) 2px,
    color.invert(#eff0f0) 4px);
$pinstripes-alt-dark: repeating-linear-gradient(to bottom,
    color.adjust(color.invert(#ebecec), $lightness: 5%),
    color.adjust(color.invert(#ebecec), $lightness: 5%) 2px,
    color.adjust(color.invert(#eff0f0), $lightness: 5%) 2px,
    color.adjust(color.invert(#eff0f0), $lightness: 5%) 4px);
/* #endregion */

@mixin modal-titlebar($title: none) {
    padding-top: window.$titlebar-height;
    background-image: window.$titlebar-gradient, $pinstripes;

    &::before {
        content: $title;
    }

    .theme-dark & {
        background-image: window.$titlebar-gradient-dark, $pinstripes-dark;
    }
}

.modal {
    @include modal-titlebar();

    border: 1px solid $border-color;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: 0 10px 25px #000000aa;

    &::before {
        position: absolute;
        top: 0;
        left: 50%;
        color: var(--text-on-accent);
        font-size: window.$titlebar-font-size;
        line-height: window.$titlebar-height;
        transform: translateX(-50%);
    }

    &.mod-settings {
        @include modal-titlebar('Settings');

        .vertical-tab-header {
            padding-top: 0;
        }

        .vertical-tab-content-container {
            padding-top: 0;

            .vertical-tab-content {
                /* TODO bottom still getting cut off a bit */
                padding-top: 35px;
            }
        }
    }

    &.mod-community-theme {
        @include modal-titlebar('Themes');
        padding-bottom: 0;

        .modal-content {
            margin-top: 0;
            padding-top: 18px;
        }
    }

    &.mod-community-plugin {
        @include modal-titlebar('Community Plugins');

        .community-plugin-search, .community-plugin-info {
            padding-top: 18px;
        }
    }

    &:not(.mod-community-theme) .modal-title {
        position: relative;
        top: -1 * window.$titlebar-height;
        color: var(--text-on-accent);
        text-transform: capitalize;
        font-weight: normal;
        font-size: window.$titlebar-font-size;
        line-height: window.$titlebar-height;
    }

    .theme-dark & {
        border: 1px solid color.invert($border-color);
    }
}

.horizontal-tab-header, .vertical-tab-header {
    background-image: $pinstripes-alt;

    .theme-dark & {
        background-image: $pinstripes-alt-dark;
    }
}

.horizontal-tab-content, .vertical-tab-content {
    background-color: transparent;
}

.modal-close-button {    
    /* TODO active state */
    top: 6px;
    left: 8px;
    width: $close-button-size;
    height: $close-button-size;
    border-radius: math.div($close-button-size, 2);
    background-color: #d80118;
    /* TODO improve close button appearance */
    background-image: radial-gradient(ellipse 60% 30% at center top, white, #ffffffcc, transparent), radial-gradient(ellipse 70% 70% at center bottom, #ffffffaa, #ffffff7f, transparent);
    box-shadow: widget.$inset-shadow, 0 1px 1px #ffffff;
    cursor: default;

    &::before {
        content: none;
    }

    &:hover::before {
        /* TODO improve X appearance */
        position: absolute;
        left: 50%;
        color: #0000007f;
        content: '\D7';
        font-size: 12px;
        line-height: 1;
        transform: translateX(-50%);
    }

    .theme-dark & {
        box-shadow: widget.$inset-shadow, 0 1px 1px #7f7f7f;
    }
}

/* TODO disabled max/min buttons */